/* This is where we pu any custom styles */

main {
  min-height: 80vh;
}

h1 {
  padding: 1rem;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

h3 {
  padding: 1rem;
}

footer {
  background-color: #dfe4e8;
}

a {
  cursor: pointer;
}

li {
  list-style-type: none;
  display: list-item;
}
/* Adds spacing between the star */
.rating span {
  margin: 0.1rem;
}

/* Footer lists */

.lists {
  margin-right: 20px;
  text-align: left;
}

.main-footer {
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer-socials {
  font-weight: 500;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  color: black;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  line-height: 25px;
  overflow: hidden;
  text-decoration: none;
  transition: opacity 300ms;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  width: 40px;
}

.footer-titles {
  padding-left: 35px;
}

/* Our Values  */
.our-values-list-item {
  color: teal;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  line-height: 25px;
  overflow: hidden;
  text-decoration: none;
  transition: opacity 300ms;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  width: 100px;
}

.our-values-list {
  font-weight: 500;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding-left: 100px;
  padding-top: 15px;
}

/* Contact Us Page  */

.contact-us-main {
  text-align: center;
}

.contact-us-list {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.contact-us-list-item {
  color: teal;
  display: inline-block;
  font-size: 25px;
  height: 50px;
  line-height: 20px;
  overflow: hidden;
  text-decoration: none;
  transition: opacity 300ms;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  width: 70px;
}

.contact-us-form {
  background-color: aquamarine;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 40px;
}
/* Carousel */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 500px;
  padding: 30px;
  margin: 40px;
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
